<mat-toolbar >
    <mat-toolbar-row>
        <mat-icon>wb_sunny</mat-icon>
        <span>Chaya weather task</span>
       
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

        </button>
       
        <span routerLink="/main/0" class="link"> main</span> 
        <span>|</span>
        <span routerLink="/favorites"class="link">favorites</span>
    </mat-toolbar-row>
</mat-toolbar><mat-icon>favorite</mat-icon><mat-icon>home</mat-icon>