.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 10%;

}
.example-full-width {
  width: 100%;
  min-width: 900px;
  max-width: 2100px;
  margin-inline-start:350%;
  margin-block-start: 100px;

}
.city
{ 
  
  min-width: 900px;
  max-width: 2100px;
  min-height: 200px;
  max-height: 1700px;
  margin-inline-start: 127%;
  margin-block-start: 60px;   
  display: flex;
  justify-content: center;  
  position: relative;
  border-top: 2px solid rgb(245, 227, 70);
  border-bottom: 2px solid rgb(245, 227, 70);

}
.button {
  background-color: rgb(245, 227, 70);
  width: 200px;
  margin-block-start: 18%;
  margin-inline-start:205%;

}


@media screen and (max-width: 768px) {
 div {
    display: none;

  }
}
@media screen and (orientation: landscape) {
  div {
    position: fixed;
    left: 0;
    width: 20vw;
  }
}