

<!-- <mat-selection-list  [multiple]="false">
    <mat-list-option *ngFor="let favoriteCity of favoriteCities" [value]="favoriteCity">
      <favorite-city [city]="favoriteCity"></favorite-city>
    </mat-list-option>
  </mat-selection-list>
   -->
  <!-- <p>
    Option selected: {{shoes.selectedOptions.selected[0]?.value}}
  </p> -->


  <mat-list *ngFor="let favoriteCity of favoriteCities">
    <mat-list-item> 
      <a routerLink="/main/{{favoriteCity.id}}"><favorite-city [city]="favoriteCity"> </favorite-city></a></mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>